 #full-parallex {
    background: white
    height: 100vh;
    color: white;
    display: flex;
    flex-direction: column;
} 



/*HEADER*/
#logo img {
    width: 200px;
    margin: 15px;
   border-radius: 30%;
}

header {
    align-self: flex-end;
    display: flex;
    margin: 0px 0px 0px 0px;
    width: 100%;
    position: ;
    background: #f7f6eff1;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
}

nav li {
    padding: 20px;
    margin: auto;
    font-size: 1.2em;
    transform: .5s;

}

nav li,
nav li a {
    text-decoration: none;
    color: rgb(19, 13, 13);
}

 nav li:hover {
    color: silver;
    transform: scale(1.1);
}  

 /*TARJETA CARD*/
 /* .card {
     width: auto;
     height: auto;
     background: #fff;
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
     border-radius: 1em;
     border-color: rgb(63, 54, 54);
     text-align: center;
 }

 /*AJUSTAR CARD GOT*/
 .games_list {
     display: flex;
     justify-content: center;
 } */

 /*FOOTER*/
 .footer {
     padding: 60px;
     text-align: center;
     color: #363030;
 }

 /* .card {
     width: 200px;
     height: 235px;
     margin: 2rem;
     background-color: rgba(230, 230, 231, 0.123);
     -webkit-transition: -webkit-box-shadow .25s;
     transition: -webkit-box-shadow .25s;
     transition: box-shadow .25s;
     transition: box-shadow .25s, -webkit-box-shadow .25s;
     border-radius: 20px;
     text-align: center;

 }

 .card .card-content .card-title {
     display: block;
     line-height: 32px;
     margin-bottom: 0px;
     font-size: 15px;

 }

 .card-img-top {
     border-radius: 20px 20px 0px 0px;

 }

 /*imagen1*/

 .card .card-text {
     padding: 15px 25px;
     align-self: center;
     align-items: center;
     display: flex;
     align-content: flex-end;
     justify-content: center;
 } */
