 #full-parallex {
    background: white
    height: 100vh;
    color: white;
    display: flex;
    flex-direction: column;
} 

/*HEADER*/

#logo img {
    width: 200px;
    margin: 15px;
   border-radius: 30%;
}



header {
    align-self: flex-end;
    display: flex;
    margin: 0px 0px 0px 0px;
    width: 100%;
    position: ;
    background: #f7f6eff1;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
}

nav li {
    padding: 20px;
    margin: auto;
    font-size: 1.2em;
    transform: .5s;

}

nav li,
nav li a {
    text-decoration: none;
    color: rgb(19, 13, 13);
}

 nav li:hover {
    color: silver;
    transform: scale(1.1);
}  